<form class="ui form" action="/register" method="post">
    <h2 class="ui center aligned header">Register</h2>
    {{ form.hidden_tag() }}
    <div class="field">
        <label>{{ form.username.label }}</label>
        {{ form.username }}
    </div>
    <div class="field">
        <label>{{ form.password.label }}</label>
        {{ form.password }}
    </div>
    <div class="field">
        <label>{{ form.confirm_password.label }}</label>
        {{ form.confirm_password }}
    </div>
    <div class="field">
        <label>{{ form.email.label }}</label>
        {{ form.email }}
    </div>

    <button class="ui blue button" type="submit">Register</button>

    <a class="ui grey button" href="{{ url_for('home') }}">Cancel</a>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="ui message">
      <ul class="list">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

<p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
